@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Urbanist", sans-serif;
  letter-spacing: 0.4px;
}

.App {
  text-align: center;
}

:root {
  --white: rgb(255, 255, 255);
  --gray: rgb(215, 215, 215);
  --bg: rgb(245, 245, 245);
  --bg2: rgb(237, 237, 237);
  --bg3: rgb(214, 214, 214);
  --text: rgb(33, 33, 33);
  --primary: rgb(224, 132, 209);
  
  --border-radius: 8px;

  --webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  --moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  --box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);

  --sm-spacing: 4px;
  --md-spacing: 8px;
  --lg-spacing: 16px;

  --sm: 37.5em;
  --md: 48em;
  --lg: 64em;
}

h1 {
  font-size: 50px;
  font-weight: 600;
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  border-radius: var(--border-radius);
}

.thead {
  position: sticky;
  z-index: 100;
}

.trHead {
  background: var(--bg);
}

.th {
  padding: var(--sm-spacing);
  color: var(--text);
  text-transform: capitalize;
  font-weight: 600;
  font-size: 14px;
}

.trBody {
  background: var(--white);
}

tbody tr:nth-child(odd) {
  background-color: var(--gray);
}

.td {
  padding: var(--sm-spacing);
  border: 1px solid var(--bg2);
  font-size: 14px;
}

.table-container {
  margin: 0 auto;
  margin-top: 1vh;
  max-width: var(--md);
  padding: var(--sm-spacing);
  background: var(--bg2);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  overflow-x: auto;
}

.search {
  padding: var(--md-spacing);
  margin: var(--md-spacing);
}

.dropdown {
  padding: var(--md-spacing);
  margin: var(--md-spacing);
}